doctype html
html
  head
    title= title

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    script(src="/components/jquery-tabledit/jquery.tabledit.min.js")
    script(src="/jquery.tinycolorpicker.js")
    script(src="/components/bootstrap/js/collapse.js")
    script(src="/components/socket.io-client/socket.io.js")

    include styles.jade

  body
    if revision
      include revisions.jade

    include wallboard.jade

    if !revision
      include plt.jade

    div#statusMessage
      p

    script(src="/ui.js")
    script(src="/colorPicker.js")
    script(src="/tables.js")
    script(src="/textBox.js")
    script(src="/io.js")
    if revision
      script(src="/revisionPagination.js")
    else
      script(src="/socketio.js")
