doctype html
html
  head
    title= title

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    script(src="/components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")
    script(src="/components/jquery.finger/dist/jquery.finger.min.js")
    script(src="/components/jquery-tabledit/jquery.tabledit.min.js")
    script(src="/js/jquery.tinycolorpicker.js")
    script(src="/components/bootstrap/js/collapse.js")
    script(src="/components/socket.io-client/dist/socket.io.min.js")
    script(src="/components/cssjson/cssjson.js")
    script(src="/components/ace-builds/src-min-noconflict/ace.js")

    include styles.jade

  body
    if revision
      include revisions.jade

    include wallboard.jade

    if !revision
      include sidepanel.jade

    div#statusMessage
      p
    div#eventBox
      div#eventBoxDecoration
        i.fa.fa-exclamation
      div#eventBoxText
        h1

    if dev_mode
      script(src="/js/ui.js")
      script(src="/js/colorPicker.js")
      script(src="/js/tables.js")
      script(src="/js/textBox.js")
      script(src="/js/imageBox.js")
      script(src="/js/io.js")
      script(src="/js/revisionPagination.js")
      script(src="/js/socketio.js")
      script(src="/js/css.js")
    else
      script(src="/js/main.min.js")
