doctype html
html
  head
    title= title

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    script(src="/components/jquery-tabledit/jquery.tabledit.min.js")
    script(src="/js/jquery.tinycolorpicker.js")
    script(src="/components/bootstrap/js/collapse.js")
    script(src="/components/socket.io-client/socket.io.js")

    include styles.jade

  body
    if revision
      include revisions.jade

    include wallboard.jade

    if !revision
      include plt.jade

    div#statusMessage
      p
    div#eventBox
      div#eventBoxDecoration
        i.fa.fa-exclamation
      div#eventBoxText
        h1


    script(src="/js/ui.js")
    script(src="/js/colorPicker.js")
    script(src="/js/tables.js")
    script(src="/js/textBox.js")
    script(src="/js/io.js")
    if revision
      script(src="/js/revisionPagination.js")
    else
      script(src="/js/socketio.js")
