doctype html
html
    head
        title= title

        script(src="/components/jquery/dist/jquery.min.js")

        link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/main.css")


    body
        div.container
            div.row
                div.col-md-12
                    p="No wallboards available"
                    a(href="/wb/default")="See example wallboard"
