.newRow {
    float: right;
    position: absolute;
    top: 4px;
    right: 8px;
}

.wb_table .btn {
    display:none;
}

.ui-widget-content {
    position: absolute !important;
    padding: 10px;
}

.ui-resizable-handle {
    display:none;
}

#save {
    float:right;
}


#plt {
    width:200px;
    height:100%;
    position: fixed;
    padding:10px;
    right:0;
    background: #dddddd;
}