body {
    overflow:hidden;
}

.wb {
    padding:0;
}

.header {
    margin:0;
    padding:20px;
}

.newRow {
    float: right;
    position: absolute;
    top: 14px;
    right: 18px;
}

.draggable {
    z-index:2;
}

.editable {
    cursor: pointer;
}

.wb_table {
    background:#FFF;
}

.wb_table .btn {
    display:none;
}

.tabledit-view-mode {
    height: 47px;
}

.tabledit-span {
    line-height:30px;
}

.colNames {
    height: 230px;
    overflow: scroll;
    border: solid 1px #DDD;
    padding: 5px;

}

.ui-widget-content {
    position: absolute !important;
    padding: 10px;
}

.ui-resizable-handle {
    display:none;
}

.box-decoration {
    width: 20%;
    float: left;
}

.box-content {
    width: 80%;
    float:left;
}

.box-content-full-width {
    width:100%;
}

/*------- Side Panel -------*/

#plt {
    width:200px;
    height:100%;
    position: fixed;
    right:0;
    top:0;
    background: rgba(221, 221, 221, 0.5);
    z-index:2;
}

#plt #accordion {
    padding:5px;
    z-index: 100;
    overflow-y:auto;
}

#pltToolbar {
    padding: 10px 5px;
    background-color: #AAA;
}

#pltToolbar div {
    margin: 0 2px;
}

.boxDecorationPreview {
    float: right;
    top: -24px;
    position: relative;
    right: 10px;
}

#editZone {
    padding:5px;
}

.btn-inner {
    float: left;
    padding:0;
    font-size:18px;
}
span.btn-inner {
    margin-right: 8px;
    margin-top: 3px;
}
p.btn-inner {
    margin:0;
}

.p_box {
    height:80px;
    width:150px;
    padding:10px;
    background:#EFEFEF;
}

#binIcon {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    display:none;
}

#binIcon .glyphicon {
    font-size: 50px;
    color: #CCC;
    position: absolute;
    top: 20px;
    left: 0;
}

.ui-resizable-e {
    border-right: dashed 1px #444;
}
.ui-resizable-w {
    border-left: dashed 1px #444;
}

.ui-resizable-n {
    border-top: dashed 1px #444;
}

.ui-resizable-s {
    border-bottom: dashed 1px #444;
}

.ui-accordion .ui-accordion-content {
    padding:4px;
}

ul.selectable  {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 160px;
    height: 80px;
}

ul.selectable li {
    height: 24px;
    width: 24px;
    background-color: #d9d9d9;
    margin: 1px;
    float: left;
}

ul.selectable .ui-selecting { background: #FECA40; }
ul.selectable .ui-selected { background: #F39814; }

#tbl-struct-container {
    height:30px;
    width:100%;
}
#tbl-struct-container .tbl-struct {
    width:65px;
    float:left;
    margin:2px;
}

#visualGridSelector {
    margin-bottom:10px;
}

/*-----Color Pickers------------*/

.colorPickers p {
    float: left;
    width: 60px;
    height: 30px;
    z-index: 9;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border: 1px solid #ccc;
    background: #ccc;
    margin-top: 10px;
    padding-left: 32px;
    padding-top:3px;
    top: -40px;
    position: relative;
}

.colorPicker
{
    width:          70px;
    height:         30px;
    position: relative;
    float:left;

}

.colorPicker .track {
    background:     url(/cp.png) no-repeat 50% 50%;
    height:         200px;
    width:          200px;
    position:       fixed;
    cursor:         crosshair;
    bottom:         34px;
    right:          0;
    display:        none;
    z-index:        10;

}

.colorPicker .color {
    width:          30px;
    height:         30px;
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}


.colorPicker .colorInner {
    width:          30px;
    height:         30px;
    z-index:        9;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border: 1px solid #ccc;
    margin-top:10px;
}

.colorPicker .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

.colorPicker .dropdown li{
    height: 25px;
    cursor: pointer;
}

.colorPicker .hex-entry {
    display:none;
    background: #000;
    position: fixed;
    width: 200px;
    right: 0px;
    bottom: 0;
    z-index: 10;
    margin:0 !important;
}

.colorPicker .hex-entry label, .colorPicker .hex-entry input {
    float:left;
}

.colorPicker .hex-entry label {
    width:50px;
    padding: 8px 0 0 8px;
}

.colorPicker .hex-entry input {
    width:150px;
}

.colorPicker .hex-entry label {
    color:#FFF;
}

.colorPickers {
    height:60px;
}
