body {
    overflow:hidden;
}

.newRow {
    float: right;
    position: absolute;
    top: 4px;
    right: 8px;
}

.draggable {
    z-index:2;
}

.wb_table .btn {
    display:none;
}

.tabledit-view-mode {
    height: 37px;
}

.ui-widget-content {
    position: absolute !important;
    padding: 10px;
}

.ui-resizable-handle {
    display:none;
}

.box-decoration {
    width: 20%;
    float: left;
}

.box-content {
    width: 80%;
    float:left;
}

.box-content-full-width {
    width:100%;
}

#plt {
    width:200px;
    height:100%;
    position: fixed;
    right:0;
    top:0;
    background: rgba(221, 221, 221, 0.5);
    z-index:2;
}

#plt #accordion {
    padding:5px;
    z-index: 100;
}

#pltToolbar {
    padding: 10px 5px;
    background-color: #AAA;
}

#pltToolbar div {
    margin: 0 2px;
}

.btn-inner {
    float: left;
    padding:0;
    font-size:18px;
}
span.btn-inner {
    margin-right: 8px;
    margin-top: 3px;
}
p.btn-inner {
    margin:0;
}

.p_box {
    height:80px;
    width:150px;
    padding:10px;
    background:#EFEFEF;
}

.colorPickers p {
    float: left;
    width: 60px;
    height: 30px;
    z-index: 9;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border: 1px solid #ccc;
    background: #ccc;
    margin-top: 10px;
    padding-left: 32px;
    padding-top:3px;
    top: -40px;
    position: relative;
}

.colorPicker
{
    width:          70px;
    height:         30px;
    position: relative;
    float:left;

}

.colorPicker .track {
    background:     url(/cp.png) no-repeat 50% 50%;
    height:         200px;
    width:          200px;
    position:       fixed;
    cursor:         crosshair;
    bottom:         0;
    right:          0;
    display:        none;
    z-index:        10;

}

.colorPicker .color {
    width:          30px;
    height:         30px;
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}


.colorPicker .colorInner {
    width:          30px;
    height:         30px;
    z-index:        9;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border: 1px solid #ccc;
    margin-top:10px;
}

.colorPicker .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

.colorPicker .dropdown li{
    height: 25px;
    cursor: pointer;
}

.colorPickers {
    height:60px;
}

#binIcon {
    position: fixed;
    bottom:0;
    right:0;
    height: 150px;
    width: 200px;
    text-align: center;
}

#binIcon .glyphicon {
    font-size:125px;
    color: #CCC;
}

.ui-resizable-e {
    border-right: dashed 1px #444;
}
.ui-resizable-w {
    border-left: dashed 1px #444;
}

.ui-resizable-n {
    border-top: dashed 1px #444;
}

.ui-resizable-s {
    border-bottom: dashed 1px #444;
}

.ui-accordion .ui-accordion-content {
    padding:4px;
}
