/**
 * Created by james on 06/03/2016.
 */

module.exports = {
    app: {
        host: 'localhost',
        port: 8081
    },
    db: {
        host: 'localhost'
    },
    ipfilter: {
        enabled: false,
        whitelist: [
            "127.0.0.1",
        ]
    }
};